#canvas{
  background: #000000 white;
  /* height: 300px;
  width: 300px; */
  /* height:100vh; */
  /* position: relative; */
}
body{
  margin: 0;
  position: fixed;
  top:0;
  left: 0;
  /* padding: 0; */
}
div{
  position:fixed;
  top:0;
  right:10px;
}

.icon {
  width: 1.5em; height: 1.5em;
  vertical-align: -0.15em;
  stroke: currentColor;
  overflow: hidden;
}
#status222 > svg{
  transition: 0.2s;
  margin:6px;
}
#status222 > svg.active{
  stroke: yellowgreen;
  transform: scale(1.2);              /*1.2倍大*/
}
ol{
  position: fixed;
  padding:0 10px 0 10px;; 
  top: 20px;;
  right: 0;

  list-style: none;
}
#color > li{
  margin: 8px;
  height: 20px;
  width: 20px;
}
ol > li.black{
  border-radius: 50%;
  background: #000;
}
ol > li.black.active{
  transform: scale(1.2);
}

ol > li.red.active{
  transform: scale(1.2)
}
ol > li.red{
  border-radius: 50%;
  background:red;
}
ol > li.blue.active{
  transform: scale(1.2)
}
ol > li.blue{
  border-radius: 50%;
  background:blue;
  
}
ol > li.green{
  border-radius: 50%;
  background:green;
}
ol > li.green.active{
  transform: scale(1.2)
}
ol > li.one{
  border-radius: 50%;
  background: rgb(221, 81, 69);
}
ol > li.one.active{
  transform: scale(1.2)
}
ol > li.two{
  border-radius: 50%;
  background: rgb(255, 205, 66);
}
ol > li.two.active{
  transform: scale(1.2)
}
ol > li.three{
  border-radius: 50%;
  background: rgb(26, 165, 95);
}
ol > li.three.active{
  transform: scale(1.2)
}
ol > li.four{
  border-radius: 50%;
  background: rgb(75, 140, 244);
}
ol > li.four.active{
  transform: scale(1.2)
}
#bold{
  position: fixed;
  top: 0;
  right: 180px;
  width: 20px;
  margin-top:8px;
}
#thin{
  border-top: 3px solid black;
  padding:5px 10px;
}
#thick{
  border-top: 6px solid black;
  padding:5px 10px;
}